.table-container {
    max-width: 100%;
    overflow-x: auto;
  }
  
  .travel-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f7e9eb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out; /* Animación de entrada */
  }
  
  .travel-table th,
  .travel-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #6f4e77;
  }
  
  .travel-table th {
    background-color: #6f4e77;
    color: #fff;
  }
  
  .travel-table tbody tr:nth-child(even) {
    background-color: #f0c7ca;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  